In [1]:
import os
import pandas as pd

In [2]:
vibration_data = []
machine_status = []

data_list = os.listdir("./data/xep-vibration-data")

for w in data_list:
    if "week" in w:
        week_data_list = os.listdir(f"./data/xep-vibration-data/{w}")
        for d in week_data_list:
            if "vibrationdata" in d:
                vibration_data.append(f"./data/xep-vibration-data/{w}/{d}")
            elif "machinestatus" in d:
                machine_status.append(f"./data/xep-vibration-data/{w}/{d}")

In [3]:
vibration_df = pd.concat([pd.read_csv(v) for v in vibration_data], ignore_index=True)
machine_status_df = pd.concat([pd.read_csv(m) for m in machine_status], ignore_index=True)

In [4]:
vibration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107316 entries, 0 to 107315
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                107275 non-null  float64
 1   SensorID                 107304 non-null  object
 2   SequenceNumber           107316 non-null  object
 3   TotalLength              107275 non-null  float64
 4   SourceAddress            0 non-null       float64
 5   TempHumiRange            107275 non-null  float64
 6   TempHumiStatus           107275 non-null  float64
 7   TempHumiEvent            107275 non-null  float64
 8   TempHumiSenVal           107275 non-null  float64
 9   XSenEvent                107275 non-null  float64
 10  XOAVelocity              107275 non-null  float64
 11  XPeakmg                  107275 non-null  float64
 12  XRMSmg                   107275 non-null  float64
 13  XKurtosis                107275 non-null  float64
 14  XCrestFactor             107275 non-null  float64
 15  XSkewness                107275 non-null  float64
 16  XDeviation               107275 non-null  float64
 17  XPeaktoPeakDisplacement  107275 non-null  float64
 18  YSenEvent                107275 non-null  float64
 19  YOAVelocity              107275 non-null  float64
 20  YPeakmg                  107275 non-null  float64
 21  YRMSmg                   107275 non-null  float64
 22  YKurtosis                107275 non-null  float64
 23  YCrestFactor             107275 non-null  float64
 24  YSkewness                107275 non-null  float64
 25  YDeviation               107275 non-null  float64
 26  YPeaktoPeakDisplacement  107275 non-null  float64
 27  ZSenEvent                107275 non-null  float64
 28  ZOAVelocity              107275 non-null  float64
 29  ZPeakmg                  107275 non-null  float64
 30  ZRMSmg                   107275 non-null  float64
 31  ZKurtosis                107275 non-null  float64
 32  ZCrestFactor             107275 non-null  float64
 33  ZSkewness                107275 non-null  float64
 34  ZDeviation               107275 non-null  float64
 35  ZPeaktoPeakDisplacement  107275 non-null  float64
 36  LogIndex                 107275 non-null  float64
 37  DeviceEvents             107275 non-null  float64
 38  DevicePowerSrc           107275 non-null  float64
 39  DeviceBatteryVolt        107275 non-null  float64
 40  DeviceTime               107275 non-null  float64
dtypes: float64(39), object(2)
memory usage: 33.6+ MB

In [5]:
machine_status_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332190 entries, 0 to 1332189
Data columns (total 23 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Timestamp  1332190 non-null  int64
 1   UID        1332190 non-null  object
 2   machine1   451137 non-null   float64
 3   machine2   451137 non-null   float64
 4   machine3   451137 non-null   float64
 5   machine4   451137 non-null   float64
 6   machine5   451137 non-null   float64
 7   machine6   452560 non-null   float64
 8   machine7   452560 non-null   float64
 9   machine8   452560 non-null   float64
 10  machine9   452560 non-null   float64
 11  machine10  452560 non-null   float64
 12  machine11  452560 non-null   float64
 13  machine12  452560 non-null   float64
 14  machine13  452560 non-null   float64
 15  machine14  428493 non-null   float64
 16  machine15  428493 non-null   float64
 17  machine16  428493 non-null   float64
 18  machine17  428493 non-null   float64
 19  machine18  428493 non-null   float64
 20  machine19  428493 non-null   float64
 21  machine20  428493 non-null   float64
 22  machine21  428493 non-null   float64
dtypes: float64(21), int64(1), object(1)
memory usage: 233.8+ MB

In [6]:
vibration_df = vibration_df.dropna(subset=["Timestamp"])
machine_status_df = machine_status_df.dropna(subset=["Timestamp"])

In [7]:
vibration_df["Timestamp"] = vibration_df["Timestamp"].astype("int64")

In [8]:
vibration_df.duplicated(["Timestamp", "SensorID"]).value_counts()

False    107254
True         21
dtype: int64

In [9]:
first = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first")
].reset_index(drop=True)

last = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last")
].reset_index(drop=True)

first.equals(last)

False

In [10]:
vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first") |
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last")
].to_csv("test.csv", index=False)

In [11]:
first = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first") &
    vibration_df["Timestamp"] != 1676435835000
].reset_index(drop=True)

last = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last") &
    vibration_df["Timestamp"] != 1676435835000
].reset_index(drop=True)

first.equals(last)

True

In [12]:
vibration_df = vibration_df.drop_duplicates(["Timestamp", "SensorID"])

In [13]:
vibration_df.shape

(107254, 41)

In [14]:
machine_status_df.duplicated(["Timestamp", "UID"]).value_counts()

False    1332178
True          12
dtype: int64

In [15]:
first = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="first")
].reset_index(drop=True)

last = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="last")
].reset_index(drop=True)

first.equals(last)

True

In [16]:
machine_status_df = machine_status_df.drop_duplicates(["Timestamp", "UID"])

In [17]:
machine_status_df.shape

(1332178, 23)

In [18]:
vibration_df = vibration_df.sort_values("Timestamp", ignore_index=True)
machine_status_df = machine_status_df.sort_values("Timestamp", ignore_index=True)

In [19]:
machine_status_df["UID"].value_counts()

sensor2    452556
sensor1    451133
sensor3    428489
Name: UID, dtype: int64

In [20]:
sensor1 = machine_status_df.loc[machine_status_df["UID"] == "sensor1"]
sensor1.isnull().sum()

Timestamp         0
UID               0
machine1          0
machine2          0
machine3          0
machine4          0
machine5          0
machine6     451133
machine7     451133
machine8     451133
machine9     451133
machine10    451133
machine11    451133
machine12    451133
machine13    451133
machine14    451133
machine15    451133
machine16    451133
machine17    451133
machine18    451133
machine19    451133
machine20    451133
machine21    451133
dtype: int64

In [21]:
sensor2 = machine_status_df.loc[machine_status_df["UID"] == "sensor2"]
sensor2.isnull().sum()

Timestamp         0
UID               0
machine1     452556
machine2     452556
machine3     452556
machine4     452556
machine5     452556
machine6          0
machine7          0
machine8          0
machine9          0
machine10         0
machine11         0
machine12         0
machine13         0
machine14    452556
machine15    452556
machine16    452556
machine17    452556
machine18    452556
machine19    452556
machine20    452556
machine21    452556
dtype: int64

In [22]:
sensor3 = machine_status_df.loc[machine_status_df["UID"] == "sensor3"]
sensor3.isnull().sum()

Timestamp         0
UID               0
machine1     428489
machine2     428489
machine3     428489
machine4     428489
machine5     428489
machine6     428489
machine7     428489
machine8     428489
machine9     428489
machine10    428489
machine11    428489
machine12    428489
machine13    428489
machine14         0
machine15         0
machine16         0
machine17         0
machine18         0
machine19         0
machine20         0
machine21         0
dtype: int64

In [23]:
sensor1 = sensor1.dropna(axis=1).drop(columns=["UID"])
sensor2 = sensor2.dropna(axis=1).drop(columns=["UID"])
sensor3 = sensor3.dropna(axis=1).drop(columns=["UID"])

sensor1["sensor1_Timestamp"] = sensor1["Timestamp"]
sensor2["sensor2_Timestamp"] = sensor2["Timestamp"]
sensor3["sensor3_Timestamp"] = sensor3["Timestamp"]

In [24]:
mapped_df = (
    pd.merge_asof(
        pd.merge_asof(
            pd.merge_asof(
                vibration_df, sensor1, on="Timestamp", direction="nearest"
            ),
            sensor2, on="Timestamp", direction="nearest"
        ),
        sensor3, on="Timestamp", direction="nearest"
    )
)

In [25]:
mapped_df["s1_Timestamp_minutes_diff"] = (mapped_df["Timestamp"] - mapped_df["sensor1_Timestamp"]).abs() / (1000 * 60)
mapped_df["s2_Timestamp_minutes_diff"] = (mapped_df["Timestamp"] - mapped_df["sensor2_Timestamp"]).abs() / (1000 * 60)
mapped_df["s3_Timestamp_minutes_diff"] = (mapped_df["Timestamp"] - mapped_df["sensor3_Timestamp"]).abs() / (1000 * 60)

In [26]:
mapped_df[[
    "Timestamp", "s1_Timestamp_minutes_diff", "s2_Timestamp_minutes_diff", "s3_Timestamp_minutes_diff"
]].describe()

,Timestamp,s1_Timestamp_minutes_diff,s2_Timestamp_minutes_diff,s3_Timestamp_minutes_diff
count,1.072540e+05,107254.000000,107254.000000,107254.000000
mean,1.682959e+12,1734.691476,1746.994771,1734.630649
std,8.688836e+09,6227.885838,6225.911193,6227.902302
min,1.668730e+12,0.000017,0.000000,0.000000
25%,1.675262e+12,0.139687,0.140950,0.138033
50%,1.682539e+12,0.285533,0.288067,0.283400
75%,1.690486e+12,0.430229,0.435100,0.429017
max,1.698624e+12,40311.339017,40311.341983,40311.341767

In [27]:
tolerance = 15
tolerance

15

In [28]:
mapped_df.loc[
    (mapped_df["s1_Timestamp_minutes_diff"] > tolerance) |
    (mapped_df["s2_Timestamp_minutes_diff"] > tolerance) |
    (mapped_df["s3_Timestamp_minutes_diff"] > tolerance)
]

,Timestamp,SensorID,SequenceNumber,TotalLength,SourceAddress,TempHumiRange,TempHumiStatus,TempHumiEvent,TempHumiSenVal,XSenEvent,...,machine16,machine17,machine18,machine19,machine20,machine21,sensor3_Timestamp,s1_Timestamp_minutes_diff,s2_Timestamp_minutes_diff,s3_Timestamp_minutes_diff
0,1668729853000,sensor-2,135,88.0,NaN,0.0,0.0,0.0,34562.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1668729822639,250.709583,250.709583,0.506017
1,1668729866000,sensor-4,255,88.0,NaN,0.0,0.0,0.0,29875.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1668729884645,250.492917,250.492917,0.310750
2,1668730437000,sensor-1,72,88.0,NaN,0.0,0.0,0.0,30062.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1668730442962,240.976250,240.976250,0.099367
3,1668730753000,sensor-2,136,88.0,NaN,0.0,0.0,0.0,34312.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1668730753161,235.709583,235.709583,0.002683
4,1668730766000,sensor-4,0,88.0,NaN,0.0,0.0,0.0,29687.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1668730753161,235.492917,235.492917,0.213983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107249,1698622637298,sensor-4,0,88.0,NaN,0.0,0.0,0.0,28437.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626,40296.108450,40296.111417,40296.111200
107250,1698622651155,sensor-1,2,88.0,NaN,0.0,0.0,0.0,28500.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626,40296.339400,40296.342367,40296.342150
107251,1698623438407,sensor-2,204,88.0,NaN,0.0,0.0,0.0,28937.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626,40309.460267,40309.463233,40309.463017
107252,1698623538978,sensor-4,1,88.0,NaN,0.0,0.0,0.0,28437.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626,40311.136450,40311.139417,40311.139200
107253,1698623551132,sensor-1,3,88.0,NaN,0.0,0.0,0.0,28437.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626,40311.339017,40311.341983,40311.341767

In [29]:
s1_m = [f"machine{i}" for i in range(1, 6)]
s2_m = [f"machine{i}" for i in range(6, 14)]
s3_m = [f"machine{i}" for i in range(14, 22)]

def handle_outlier_machine_status(row):
    if row["s1_Timestamp_minutes_diff"] > tolerance:
        row[s1_m] = 0
    if row["s2_Timestamp_minutes_diff"] > tolerance:
        row[s2_m] = 0
    if row["s3_Timestamp_minutes_diff"] > tolerance:
        row[s3_m] = 0

    return row

In [30]:
mapped_df = mapped_df.apply(
    handle_outlier_machine_status,
    axis=1,
)

In [31]:
mapped_df = mapped_df.drop(columns=[
    "sensor1_Timestamp", "sensor2_Timestamp", "sensor3_Timestamp",
    "s1_Timestamp_minutes_diff", "s2_Timestamp_minutes_diff", "s3_Timestamp_minutes_diff",
])

In [32]:
mapped_df["DateTime"] = pd.to_datetime(mapped_df["Timestamp"], unit="ms")
mapped_df["DateTime"] = mapped_df["DateTime"].dt.strftime("%Y-%m-%d %H:%M:%S")

front_cols = ["Timestamp", "DateTime"]
mapped_df = mapped_df[front_cols + [col for col in mapped_df if col not in front_cols]]

mapped_df = mapped_df.sort_values("Timestamp", ignore_index=True)

In [33]:
mapped_df

,Timestamp,DateTime,SensorID,SequenceNumber,TotalLength,SourceAddress,TempHumiRange,TempHumiStatus,TempHumiEvent,TempHumiSenVal,...,machine12,machine13,machine14,machine15,machine16,machine17,machine18,machine19,machine20,machine21
0,1668729853000,2022-11-18 00:04:13,sensor-2,135,88.0,NaN,0.0,0.0,0.0,34562.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1668729866000,2022-11-18 00:04:26,sensor-4,255,88.0,NaN,0.0,0.0,0.0,29875.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1668730437000,2022-11-18 00:13:57,sensor-1,72,88.0,NaN,0.0,0.0,0.0,30062.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1668730753000,2022-11-18 00:19:13,sensor-2,136,88.0,NaN,0.0,0.0,0.0,34312.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1668730766000,2022-11-18 00:19:26,sensor-4,0,88.0,NaN,0.0,0.0,0.0,29687.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107249,1698622637298,2023-10-29 23:37:17,sensor-4,0,88.0,NaN,0.0,0.0,0.0,28437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107250,1698622651155,2023-10-29 23:37:31,sensor-1,2,88.0,NaN,0.0,0.0,0.0,28500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107251,1698623438407,2023-10-29 23:50:38,sensor-2,204,88.0,NaN,0.0,0.0,0.0,28937.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107252,1698623538978,2023-10-29 23:52:18,sensor-4,1,88.0,NaN,0.0,0.0,0.0,28437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107253,1698623551132,2023-10-29 23:52:31,sensor-1,3,88.0,NaN,0.0,0.0,0.0,28437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
mapped_df.duplicated(["Timestamp"]).value_counts()

False    107254
dtype: int64

In [35]:
mapped_df[(1669578553000 <= mapped_df["Timestamp"]) & (mapped_df["Timestamp"] < 1669578554000)]

,Timestamp,DateTime,SensorID,SequenceNumber,TotalLength,SourceAddress,TempHumiRange,TempHumiStatus,TempHumiEvent,TempHumiSenVal,...,machine12,machine13,machine14,machine15,machine16,machine17,machine18,machine19,machine20,machine21
3747,1669578553000,2022-11-27 19:49:13,sensor-2,54,88.0,NaN,0.0,0.0,0.0,29062.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
mapped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107254 entries, 0 to 107253
Data columns (total 63 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                107254 non-null  int64
 1   DateTime                 107254 non-null  object
 2   SensorID                 107254 non-null  object
 3   SequenceNumber           107254 non-null  object
 4   TotalLength              107254 non-null  float64
 5   SourceAddress            0 non-null       float64
 6   TempHumiRange            107254 non-null  float64
 7   TempHumiStatus           107254 non-null  float64
 8   TempHumiEvent            107254 non-null  float64
 9   TempHumiSenVal           107254 non-null  float64
 10  XSenEvent                107254 non-null  float64
 11  XOAVelocity              107254 non-null  float64
 12  XPeakmg                  107254 non-null  float64
 13  XRMSmg                   107254 non-null  float64
 14  XKurtosis                107254 non-null  float64
 15  XCrestFactor             107254 non-null  float64
 16  XSkewness                107254 non-null  float64
 17  XDeviation               107254 non-null  float64
 18  XPeaktoPeakDisplacement  107254 non-null  float64
 19  YSenEvent                107254 non-null  float64
 20  YOAVelocity              107254 non-null  float64
 21  YPeakmg                  107254 non-null  float64
 22  YRMSmg                   107254 non-null  float64
 23  YKurtosis                107254 non-null  float64
 24  YCrestFactor             107254 non-null  float64
 25  YSkewness                107254 non-null  float64
 26  YDeviation               107254 non-null  float64
 27  YPeaktoPeakDisplacement  107254 non-null  float64
 28  ZSenEvent                107254 non-null  float64
 29  ZOAVelocity              107254 non-null  float64
 30  ZPeakmg                  107254 non-null  float64
 31  ZRMSmg                   107254 non-null  float64
 32  ZKurtosis                107254 non-null  float64
 33  ZCrestFactor             107254 non-null  float64
 34  ZSkewness                107254 non-null  float64
 35  ZDeviation               107254 non-null  float64
 36  ZPeaktoPeakDisplacement  107254 non-null  float64
 37  LogIndex                 107254 non-null  float64
 38  DeviceEvents             107254 non-null  float64
 39  DevicePowerSrc           107254 non-null  float64
 40  DeviceBatteryVolt        107254 non-null  float64
 41  DeviceTime               107254 non-null  float64
 42  machine1                 107254 non-null  float64
 43  machine2                 107254 non-null  float64
 44  machine3                 107254 non-null  float64
 45  machine4                 107254 non-null  float64
 46  machine5                 107254 non-null  float64
 47  machine6                 107254 non-null  float64
 48  machine7                 107254 non-null  float64
 49  machine8                 107254 non-null  float64
 50  machine9                 107254 non-null  float64
 51  machine10                107254 non-null  float64
 52  machine11                107254 non-null  float64
 53  machine12                107254 non-null  float64
 54  machine13                107254 non-null  float64
 55  machine14                107254 non-null  float64
 56  machine15                107254 non-null  float64
 57  machine16                107254 non-null  float64
 58  machine17                107254 non-null  float64
 59  machine18                107254 non-null  float64
 60  machine19                107254 non-null  float64
 61  machine20                107254 non-null  float64
 62  machine21                107254 non-null  float64
dtypes: float64(59), int64(1), object(3)
memory usage: 51.6+ MB

In [37]:
vibration_df.to_csv("./data/vibrationdata.csv", index=False)
machine_status_df.to_csv("./data/machinestatus.csv", index=False)
mapped_df.to_csv("./data/mapped.csv", index=False)