In [254]:
import os
import pandas as pd

In [255]:
vibration_data = []
machine_status = []

data_list = os.listdir("./data/xep-vibration-data")

for w in data_list:
    if "week" in w:
        week_data_list = os.listdir(f"./data/xep-vibration-data/{w}")
        for d in week_data_list:
            if "vibrationdata" in d:
                vibration_data.append(f"./data/xep-vibration-data/{w}/{d}")
            elif "machinestatus" in d:
                machine_status.append(f"./data/xep-vibration-data/{w}/{d}")

In [256]:
vibration_df = pd.concat([pd.read_csv(v) for v in vibration_data], ignore_index=True)
machine_status_df = pd.concat([pd.read_csv(m) for m in machine_status], ignore_index=True)

In [257]:
vibration_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107316 entries, 0 to 107315
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                107275 non-null  float64
 1   SensorID                 107304 non-null  object
 2   SequenceNumber           107316 non-null  object
 3   TotalLength              107275 non-null  float64
 4   SourceAddress            0 non-null       float64
 5   TempHumiRange            107275 non-null  float64
 6   TempHumiStatus           107275 non-null  float64
 7   TempHumiEvent            107275 non-null  float64
 8   TempHumiSenVal           107275 non-null  float64
 9   XSenEvent                107275 non-null  float64
 10  XOAVelocity              107275 non-null  float64
 11  XPeakmg                  107275 non-null  float64
 12  XRMSmg                   107275 non-null  float64
 13  XKurtosis                107275 non-null  float64
 14  XCrestFactor             107275 non-null  float64
 15  XSkewness                107275 non-null  float64
 16  XDeviation               107275 non-null  float64
 17  XPeaktoPeakDisplacement  107275 non-null  float64
 18  YSenEvent                107275 non-null  float64
 19  YOAVelocity              107275 non-null  float64
 20  YPeakmg                  107275 non-null  float64
 21  YRMSmg                   107275 non-null  float64
 22  YKurtosis                107275 non-null  float64
 23  YCrestFactor             107275 non-null  float64
 24  YSkewness                107275 non-null  float64
 25  YDeviation               107275 non-null  float64
 26  YPeaktoPeakDisplacement  107275 non-null  float64
 27  ZSenEvent                107275 non-null  float64
 28  ZOAVelocity              107275 non-null  float64
 29  ZPeakmg                  107275 non-null  float64
 30  ZRMSmg                   107275 non-null  float64
 31  ZKurtosis                107275 non-null  float64
 32  ZCrestFactor             107275 non-null  float64
 33  ZSkewness                107275 non-null  float64
 34  ZDeviation               107275 non-null  float64
 35  ZPeaktoPeakDisplacement  107275 non-null  float64
 36  LogIndex                 107275 non-null  float64
 37  DeviceEvents             107275 non-null  float64
 38  DevicePowerSrc           107275 non-null  float64
 39  DeviceBatteryVolt        107275 non-null  float64
 40  DeviceTime               107275 non-null  float64
dtypes: float64(39), object(2)
memory usage: 33.6+ MB

In [258]:
machine_status_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332190 entries, 0 to 1332189
Data columns (total 23 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Timestamp  1332190 non-null  int64
 1   UID        1332190 non-null  object
 2   machine1   451137 non-null   float64
 3   machine2   451137 non-null   float64
 4   machine3   451137 non-null   float64
 5   machine4   451137 non-null   float64
 6   machine5   451137 non-null   float64
 7   machine6   452560 non-null   float64
 8   machine7   452560 non-null   float64
 9   machine8   452560 non-null   float64
 10  machine9   452560 non-null   float64
 11  machine10  452560 non-null   float64
 12  machine11  452560 non-null   float64
 13  machine12  452560 non-null   float64
 14  machine13  452560 non-null   float64
 15  machine14  428493 non-null   float64
 16  machine15  428493 non-null   float64
 17  machine16  428493 non-null   float64
 18  machine17  428493 non-null   float64
 19  machine18  428493 non-null   float64
 20  machine19  428493 non-null   float64
 21  machine20  428493 non-null   float64
 22  machine21  428493 non-null   float64
dtypes: float64(21), int64(1), object(1)
memory usage: 233.8+ MB

In [259]:
vibration_df = vibration_df.dropna(subset=["Timestamp"])
machine_status_df = machine_status_df.dropna(subset=["Timestamp"])

In [260]:
vibration_df["Timestamp"] = vibration_df["Timestamp"].astype("int64")

In [261]:
vibration_df.duplicated(["Timestamp", "SensorID"]).value_counts()

False    107254
True         21
dtype: int64

In [262]:
first = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first")
].reset_index(drop=True)

last = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last")
].reset_index(drop=True)

first.equals(last)

False

In [263]:
vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first") |
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last")
].to_csv("test.csv", index=False)

In [264]:
first = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="first") &
    vibration_df["Timestamp"] != 1676435835000
].reset_index(drop=True)

last = vibration_df.loc[
    vibration_df.duplicated(["Timestamp", "SensorID"], keep="last") &
    vibration_df["Timestamp"] != 1676435835000
].reset_index(drop=True)

first.equals(last)

True

In [265]:
vibration_df = vibration_df.drop_duplicates(["Timestamp", "SensorID"])

In [266]:
vibration_df.shape

(107254, 41)

In [267]:
machine_status_df.duplicated(["Timestamp", "UID"]).value_counts()

False    1332178
True          12
dtype: int64

In [268]:
first = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="first")
].reset_index(drop=True)

last = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="last")
].reset_index(drop=True)

first.equals(last)

True

In [269]:
machine_status_df = machine_status_df.drop_duplicates(["Timestamp", "UID"])

In [270]:
machine_status_df.shape

(1332178, 23)

In [271]:
vibration_df = vibration_df.sort_values("Timestamp", ignore_index=True)
machine_status_df = machine_status_df.sort_values("Timestamp", ignore_index=True)

In [272]:
machine_status_df["UID"].value_counts()

sensor2    452556
sensor1    451133
sensor3    428489
Name: UID, dtype: int64

In [273]:
sensor1 = machine_status_df.loc[machine_status_df["UID"] == "sensor1"]
sensor1.isnull().sum()

Timestamp         0
UID               0
machine1          0
machine2          0
machine3          0
machine4          0
machine5          0
machine6     451133
machine7     451133
machine8     451133
machine9     451133
machine10    451133
machine11    451133
machine12    451133
machine13    451133
machine14    451133
machine15    451133
machine16    451133
machine17    451133
machine18    451133
machine19    451133
machine20    451133
machine21    451133
dtype: int64

In [274]:
sensor2 = machine_status_df.loc[machine_status_df["UID"] == "sensor2"]
sensor2.isnull().sum()

Timestamp         0
UID               0
machine1     452556
machine2     452556
machine3     452556
machine4     452556
machine5     452556
machine6          0
machine7          0
machine8          0
machine9          0
machine10         0
machine11         0
machine12         0
machine13         0
machine14    452556
machine15    452556
machine16    452556
machine17    452556
machine18    452556
machine19    452556
machine20    452556
machine21    452556
dtype: int64

In [275]:
sensor3 = machine_status_df.loc[machine_status_df["UID"] == "sensor3"]
sensor3.isnull().sum()

Timestamp         0
UID               0
machine1     428489
machine2     428489
machine3     428489
machine4     428489
machine5     428489
machine6     428489
machine7     428489
machine8     428489
machine9     428489
machine10    428489
machine11    428489
machine12    428489
machine13    428489
machine14         0
machine15         0
machine16         0
machine17         0
machine18         0
machine19         0
machine20         0
machine21         0
dtype: int64

In [276]:
sensor1 = sensor1.dropna(axis=1).drop(columns=["UID"])
sensor2 = sensor2.dropna(axis=1).drop(columns=["UID"])
sensor3 = sensor3.dropna(axis=1).drop(columns=["UID"])

sensor1["sensor1_Timestamp"] = sensor1["Timestamp"]
sensor2["sensor2_Timestamp"] = sensor2["Timestamp"]
sensor3["sensor3_Timestamp"] = sensor3["Timestamp"]

In [277]:
status_mapped_df = pd.merge_asof(
    pd.merge_asof(
        sensor1, sensor2, on="Timestamp", direction="nearest"
    ),
    sensor3, on="Timestamp", direction="nearest"
)

status_mapped_df

,Timestamp,machine1,machine2,machine3,machine4,machine5,sensor1_Timestamp,machine6,machine7,machine8,...,sensor2_Timestamp,machine14,machine15,machine16,machine17,machine18,machine19,machine20,machine21,sensor3_Timestamp
0,1668744895575,-1.0,-1.0,-1.0,-1.0,-1.0,1668744895575,-1.0,-1.0,-1.0,...,1668744895575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1668744897612
1,1668744955575,-1.0,-1.0,-1.0,-1.0,-1.0,1668744955575,-1.0,-1.0,-1.0,...,1668744955575,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1668744957612
2,1668745030448,0.0,0.0,0.0,0.0,0.0,1668745030448,0.0,0.0,1.0,...,1668745030738,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1668745017612
3,1668745034120,0.0,0.0,0.0,0.0,0.0,1668745034120,0.0,0.0,1.0,...,1668745034018,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1668745017612
4,1668745037548,0.0,0.0,0.0,0.0,0.0,1668745037548,0.0,0.0,1.0,...,1668745034018,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1668745017612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451128,1696204630762,1.0,0.0,0.0,0.0,0.0,1696204630762,0.0,0.0,0.0,...,1696204630571,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1696204630597
451129,1696204690758,1.0,0.0,0.0,0.0,0.0,1696204690758,0.0,0.0,0.0,...,1696204690607,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1696204690603
451130,1696204750768,1.0,0.0,0.0,0.0,0.0,1696204750768,0.0,0.0,0.0,...,1696204750529,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1696204750600
451131,1696204810801,1.0,0.0,0.0,0.0,0.0,1696204810801,0.0,0.0,0.0,...,1696204810593,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1696204810606
451132,1696204870791,1.0,0.0,0.0,0.0,0.0,1696204870791,0.0,0.0,0.0,...,1696204870613,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1696204870626

In [278]:
status_mapped_df["s1_Timestamp_minutes_diff"] = (status_mapped_df["Timestamp"] - status_mapped_df["sensor1_Timestamp"]).abs() / (1000 * 60)
status_mapped_df["s2_Timestamp_minutes_diff"] = (status_mapped_df["Timestamp"] - status_mapped_df["sensor2_Timestamp"]).abs() / (1000 * 60)
status_mapped_df["s3_Timestamp_minutes_diff"] = (status_mapped_df["Timestamp"] - status_mapped_df["sensor3_Timestamp"]).abs() / (1000 * 60)

In [279]:
status_mapped_df[[
    "Timestamp", "s1_Timestamp_minutes_diff", "s2_Timestamp_minutes_diff", "s3_Timestamp_minutes_diff"
]].describe()

,Timestamp,s1_Timestamp_minutes_diff,s2_Timestamp_minutes_diff,s3_Timestamp_minutes_diff
count,4.511330e+05,451133.0,451133.000000,451133.000000
mean,1.680995e+12,0.0,11.126001,0.086196
std,7.802565e+09,0.0,127.370020,0.131849
min,1.668745e+12,0.0,0.000000,0.000000
25%,1.674129e+12,0.0,0.002617,0.007450
50%,1.680882e+12,0.0,0.008300,0.022350
75%,1.687637e+12,0.0,0.080983,0.081217
max,1.696205e+12,0.0,2225.086833,0.974367

In [280]:
tolerance = 1
tolerance

1

In [281]:
status_mapped_df.loc[
    (status_mapped_df["s1_Timestamp_minutes_diff"] > tolerance) |
    (status_mapped_df["s2_Timestamp_minutes_diff"] > tolerance) |
    (status_mapped_df["s3_Timestamp_minutes_diff"] > tolerance)
]

,Timestamp,machine1,machine2,machine3,machine4,machine5,sensor1_Timestamp,machine6,machine7,machine8,...,machine16,machine17,machine18,machine19,machine20,machine21,sensor3_Timestamp,s1_Timestamp_minutes_diff,s2_Timestamp_minutes_diff,s3_Timestamp_minutes_diff
87539,1672617668055,0.0,0.0,0.0,0.0,0.0,1672617668055,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1672617674514,0.0,1.798500,0.107650
87540,1672617728067,0.0,0.0,0.0,0.0,0.0,1672617728067,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1672617734545,0.0,2.798700,0.107967
87541,1672617788089,0.0,0.0,0.0,0.0,0.0,1672617788089,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1672617794537,0.0,3.799067,0.107467
87542,1672617848122,0.0,0.0,0.0,0.0,0.0,1672617848122,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1672617854554,0.0,4.799617,0.107200
87543,1672617908117,0.0,0.0,0.0,0.0,0.0,1672617908117,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1672617914584,0.0,5.799533,0.107783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249389,1682308261036,0.0,0.0,0.0,0.0,0.0,1682308261036,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1682308261453,0.0,5.638633,0.006950
249390,1682308320996,0.0,0.0,0.0,0.0,0.0,1682308320996,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1682308321463,0.0,4.639300,0.007783
249391,1682308381014,0.0,0.0,0.0,0.0,0.0,1682308381014,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1682308381453,0.0,3.639000,0.007317
249392,1682308440957,0.0,0.0,0.0,0.0,0.0,1682308440957,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1682308441499,0.0,2.639950,0.009033
249393,1682308500956,0.0,0.0,0.0,0.0,0.0,1682308500956,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1682308501478,0.0,1.639967,0.008700

In [282]:
s1_m = [f"machine{i}" for i in range(1, 6)]
s2_m = [f"machine{i}" for i in range(6, 14)]
s3_m = [f"machine{i}" for i in range(14, 22)]

def handle_outlier_machine_status(row):
    if row["s1_Timestamp_minutes_diff"] > tolerance:
        row[s1_m] = 0
    if row["s2_Timestamp_minutes_diff"] > tolerance:
        row[s2_m] = 0
    if row["s3_Timestamp_minutes_diff"] > tolerance:
        row[s3_m] = 0

    return row

In [283]:
status_mapped_df = status_mapped_df.apply(
    handle_outlier_machine_status,
    axis=1,
)

In [284]:
status_mapped_df = status_mapped_df.drop(columns=[
    "sensor1_Timestamp", "sensor2_Timestamp", "sensor3_Timestamp",
    "s1_Timestamp_minutes_diff", "s2_Timestamp_minutes_diff", "s3_Timestamp_minutes_diff",
])

In [285]:
mapped_df = vibration_df.merge(status_mapped_df, on=["Timestamp"], how="inner")
mapped_df

Empty DataFrame
Columns: [Timestamp, SensorID, SequenceNumber, TotalLength, SourceAddress, TempHumiRange, TempHumiStatus, TempHumiEvent, TempHumiSenVal, XSenEvent, XOAVelocity, XPeakmg, XRMSmg, XKurtosis, XCrestFactor, XSkewness, XDeviation, XPeaktoPeakDisplacement, YSenEvent, YOAVelocity, YPeakmg, YRMSmg, YKurtosis, YCrestFactor, YSkewness, YDeviation, YPeaktoPeakDisplacement, ZSenEvent, ZOAVelocity, ZPeakmg, ZRMSmg, ZKurtosis, ZCrestFactor, ZSkewness, ZDeviation, ZPeaktoPeakDisplacement, LogIndex, DeviceEvents, DevicePowerSrc, DeviceBatteryVolt, DeviceTime, machine1, machine2, machine3, machine4, machine5, machine6, machine7, machine8, machine9, machine10, machine11, machine12, machine13, machine14, machine15, machine16, machine17, machine18, machine19, machine20, machine21]
Index: []

[0 rows x 62 columns]

In [286]:
vibration_df["Timestamp"] = vibration_df["Timestamp"] / (1000 * 60)
vibration_df["Timestamp"] = vibration_df["Timestamp"].astype("int64")
vibration_df["DateTime"] = pd.to_datetime(vibration_df["Timestamp"], unit="m")
vibration_df = vibration_df.sort_values("DateTime", ignore_index=True)

status_mapped_df["Timestamp"] = status_mapped_df["Timestamp"] / (1000 * 60)
status_mapped_df["Timestamp"] = status_mapped_df["Timestamp"].astype("int64")
status_mapped_df["DateTime"] = pd.to_datetime(status_mapped_df["Timestamp"], unit="m")
status_mapped_df = status_mapped_df.sort_values("DateTime", ignore_index=True)

In [287]:
front_cols = ["Timestamp", "DateTime"]
vibration_df = vibration_df[front_cols + [col for col in vibration_df if col not in front_cols]]
status_mapped_df = status_mapped_df[front_cols + [col for col in status_mapped_df if col not in front_cols]]

In [288]:
mapped_df = vibration_df.merge(status_mapped_df, on=["Timestamp", "DateTime"], how="inner")
mapped_df = mapped_df.sort_values(["Timestamp", "DateTime"], ignore_index=True)
mapped_df

,Timestamp,DateTime,SensorID,SequenceNumber,TotalLength,SourceAddress,TempHumiRange,TempHumiStatus,TempHumiEvent,TempHumiSenVal,...,machine12,machine13,machine14,machine15,machine16,machine17,machine18,machine19,machine20,machine21
0,27812419,2022-11-18 04:19:00,sensor-3,3,88.0,NaN,0.0,0.0,0.0,30000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,27812419,2022-11-18 04:19:00,sensor-3,3,88.0,NaN,0.0,0.0,0.0,30000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,27812419,2022-11-18 04:19:00,sensor-3,3,88.0,NaN,0.0,0.0,0.0,30000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,27812428,2022-11-18 04:28:00,sensor-1,89,88.0,NaN,0.0,0.0,0.0,29437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27812428,2022-11-18 04:28:00,sensor-1,89,88.0,NaN,0.0,0.0,0.0,29437.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99573,28270059,2023-10-01 23:39:00,sensor-1,175,88.0,NaN,0.0,0.0,0.0,28125.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
99574,28270059,2023-10-01 23:39:00,sensor-4,175,88.0,NaN,0.0,0.0,0.0,28000.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
99575,28270072,2023-10-01 23:52:00,sensor-2,130,88.0,NaN,0.0,0.0,0.0,28125.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
99576,28270074,2023-10-01 23:54:00,sensor-4,176,88.0,NaN,0.0,0.0,0.0,28000.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
99577,28270074,2023-10-01 23:54:00,sensor-1,176,88.0,NaN,0.0,0.0,0.0,28062.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [289]:
len(mapped_df["Timestamp"].unique())

79424

In [290]:
mapped_df[mapped_df["Timestamp"]==1669578553]

Empty DataFrame
Columns: [Timestamp, DateTime, SensorID, SequenceNumber, TotalLength, SourceAddress, TempHumiRange, TempHumiStatus, TempHumiEvent, TempHumiSenVal, XSenEvent, XOAVelocity, XPeakmg, XRMSmg, XKurtosis, XCrestFactor, XSkewness, XDeviation, XPeaktoPeakDisplacement, YSenEvent, YOAVelocity, YPeakmg, YRMSmg, YKurtosis, YCrestFactor, YSkewness, YDeviation, YPeaktoPeakDisplacement, ZSenEvent, ZOAVelocity, ZPeakmg, ZRMSmg, ZKurtosis, ZCrestFactor, ZSkewness, ZDeviation, ZPeaktoPeakDisplacement, LogIndex, DeviceEvents, DevicePowerSrc, DeviceBatteryVolt, DeviceTime, machine1, machine2, machine3, machine4, machine5, machine6, machine7, machine8, machine9, machine10, machine11, machine12, machine13, machine14, machine15, machine16, machine17, machine18, machine19, machine20, machine21]
Index: []

[0 rows x 63 columns]

In [291]:
vibration_df.to_csv("./data/vibrationdata.csv", index=False)
machine_status_df.to_csv("./data/machinestatus.csv", index=False)
mapped_df.to_csv("./data/mapped.csv", index=False)