In [83]:
import pandas as pd

In [84]:
machine_status_df = pd.read_csv("./data/machinestatus.csv")
machine_status_df

,Timestamp,UID,machine1,machine2,machine3,machine4,machine5,machine6,machine7,machine8,...,machine12,machine13,machine14,machine15,machine16,machine17,machine18,machine19,machine20,machine21
0,1668729636518,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1668729698544,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1668729760577,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1668729822639,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1668729884645,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332185,1696204810606,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1332186,1696204810801,sensor1,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332187,1696204870613,sensor2,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332188,1696204870626,sensor3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
1332189,1696204870791,sensor1,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
vibration_df = pd.read_csv("./data/vibrationdata.csv")
vibration_df

/var/folders/t3/klqfnc0s5db94nn9pp57_rsw0000gn/T/ipykernel_3771/3166216222.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  vibration_df = pd.read_csv("./data/vibrationdata.csv")

,Timestamp,SensorID,SequenceNumber,TotalLength,SourceAddress,TempHumiRange,TempHumiStatus,TempHumiEvent,TempHumiSenVal,XSenEvent,...,ZKurtosis,ZCrestFactor,ZSkewness,ZDeviation,ZPeaktoPeakDisplacement,LogIndex,DeviceEvents,DevicePowerSrc,DeviceBatteryVolt,DeviceTime
0,1.668730e+12,sensor-2,135,88.0,NaN,0.0,0.0,0.0,34562.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3544.0,1.668730e+09
1,1.668730e+12,sensor-4,255,88.0,NaN,0.0,0.0,0.0,29875.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3558.0,1.668730e+09
2,1.668730e+12,sensor-1,72,88.0,NaN,0.0,0.0,0.0,30062.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3503.0,1.668730e+09
3,1.668731e+12,sensor-2,136,88.0,NaN,0.0,0.0,0.0,34312.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3544.0,1.668731e+09
4,1.668731e+12,sensor-4,0,88.0,NaN,0.0,0.0,0.0,29687.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3558.0,1.668731e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101345,NaN,NaN,TimeStamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101346,NaN,sensor-2,1693885192467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101347,NaN,NaN,TimeStamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101348,NaN,sensor-4,1693886208385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101349,NaN,NaN,TimeStamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
machine_status_df["UID"].value_counts()

sensor2    452560
sensor1    451137
sensor3    428493
Name: UID, dtype: int64

In [87]:
machine_status_df.duplicated(["Timestamp", "UID"]).value_counts()

False    1332178
True          12
dtype: int64

In [88]:
first = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="first")
].reset_index(drop=True)

last = machine_status_df.loc[
    machine_status_df.duplicated(["Timestamp", "UID"], keep="last")
].reset_index(drop=True)

first.equals(last)

True

In [89]:
machine_status_df = machine_status_df.drop_duplicates(["Timestamp", "UID"])

In [90]:
sensor1 = machine_status_df.loc[machine_status_df["UID"] == "sensor1"]
sensor1.isnull().sum()

Timestamp         0
UID               0
machine1          0
machine2          0
machine3          0
machine4          0
machine5          0
machine6     451133
machine7     451133
machine8     451133
machine9     451133
machine10    451133
machine11    451133
machine12    451133
machine13    451133
machine14    451133
machine15    451133
machine16    451133
machine17    451133
machine18    451133
machine19    451133
machine20    451133
machine21    451133
dtype: int64

In [91]:
sensor2 = machine_status_df.loc[machine_status_df["UID"] == "sensor2"]
sensor2.isnull().sum()

Timestamp         0
UID               0
machine1     452556
machine2     452556
machine3     452556
machine4     452556
machine5     452556
machine6          0
machine7          0
machine8          0
machine9          0
machine10         0
machine11         0
machine12         0
machine13         0
machine14    452556
machine15    452556
machine16    452556
machine17    452556
machine18    452556
machine19    452556
machine20    452556
machine21    452556
dtype: int64

In [92]:
sensor3 = machine_status_df.loc[machine_status_df["UID"] == "sensor3"]
sensor3.isnull().sum()

Timestamp         0
UID               0
machine1     428489
machine2     428489
machine3     428489
machine4     428489
machine5     428489
machine6     428489
machine7     428489
machine8     428489
machine9     428489
machine10    428489
machine11    428489
machine12    428489
machine13    428489
machine14         0
machine15         0
machine16         0
machine17         0
machine18         0
machine19         0
machine20         0
machine21         0
dtype: int64

In [93]:
sensor1 = sensor1.dropna(axis=1)
sensor2 = sensor2.dropna(axis=1)
sensor3 = sensor3.dropna(axis=1)

In [94]:
sensor1

,Timestamp,UID,machine1,machine2,machine3,machine4,machine5
247,1668744895575,sensor1,-1.0,-1.0,-1.0,-1.0,-1.0
249,1668744955575,sensor1,-1.0,-1.0,-1.0,-1.0,-1.0
254,1668745030448,sensor1,0.0,0.0,0.0,0.0,0.0
257,1668745034120,sensor1,0.0,0.0,0.0,0.0,0.0
258,1668745037548,sensor1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
1332177,1696204630762,sensor1,1.0,0.0,0.0,0.0,0.0
1332180,1696204690758,sensor1,1.0,0.0,0.0,0.0,0.0
1332183,1696204750768,sensor1,1.0,0.0,0.0,0.0,0.0
1332186,1696204810801,sensor1,1.0,0.0,0.0,0.0,0.0
1332189,1696204870791,sensor1,1.0,0.0,0.0,0.0,0.0

In [95]:
sensor1.loc[sensor1["machine2"] == 1, "machine5"].value_counts()

0.0    55050
Name: machine5, dtype: int64

In [96]:
pure_m2 = sensor1.loc[
    (sensor1["machine1"] == 0) &
    (sensor1["machine2"] == 1) &
    (sensor1["machine3"] == 0) &
    (sensor1["machine4"] == 0) &
    (sensor1["machine5"] == 0)
]
pure_m2["is_pure_m2"] = 1
pure_m2 = pure_m2[["Timestamp", "is_pure_m2"]]
pure_m2

/var/folders/t3/klqfnc0s5db94nn9pp57_rsw0000gn/T/ipykernel_3771/1114195794.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pure_m2["is_pure_m2"] = 1

             Timestamp  is_pure_m2
29570    1669023760810           1
29571    1669023764871           1
29572    1669023768470           1
29577    1669023817267           1
29578    1669023820860           1
...                ...         ...
1310742  1695776648384           1
1310745  1695776708402           1
1310748  1695776768403           1
1310751  1695776828415           1
1310754  1695776888416           1

[32430 rows x 2 columns]

In [97]:
noisy_m2 = sensor1.loc[
    (sensor1["machine2"] == 1) &
    (
        (sensor1["machine1"] != 0) |
        (sensor1["machine3"] != 0) |
        (sensor1["machine4"] != 0) |
        (sensor1["machine5"] != 0)
    )
]
noisy_m2["is_pure_m2"] = 0
noisy_m2 = noisy_m2[["Timestamp", "is_pure_m2"]]
noisy_m2

/var/folders/t3/klqfnc0s5db94nn9pp57_rsw0000gn/T/ipykernel_3771/749457125.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  noisy_m2["is_pure_m2"] = 0

             Timestamp  is_pure_m2
36864    1669123974923           0
36865    1669123978553           0
36866    1669123981942           0
36929    1669124571436           0
36930    1669124574680           0
...                ...         ...
1310778  1695777368482           0
1310781  1695777428535           0
1310784  1695777488498           0
1310787  1695777548529           0
1310790  1695777608527           0

[22620 rows x 2 columns]

In [98]:
absent_m2 = sensor1.loc[
    (sensor1["machine2"] != 1)
]
absent_m2["is_pure_m2"] = -1
absent_m2 = absent_m2[["Timestamp", "is_pure_m2"]]
absent_m2

/var/folders/t3/klqfnc0s5db94nn9pp57_rsw0000gn/T/ipykernel_3771/1542143894.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  absent_m2["is_pure_m2"] = -1

             Timestamp  is_pure_m2
247      1668744895575          -1
249      1668744955575          -1
254      1668745030448          -1
257      1668745034120          -1
258      1668745037548          -1
...                ...         ...
1332177  1696204630762          -1
1332180  1696204690758          -1
1332183  1696204750768          -1
1332186  1696204810801          -1
1332189  1696204870791          -1

[396083 rows x 2 columns]

In [99]:
m2_status_df = pd.concat([pure_m2, noisy_m2, absent_m2]).sort_values("Timestamp", ignore_index=True)
m2_status_df

            Timestamp  is_pure_m2
0       1668744895575          -1
1       1668744955575          -1
2       1668745030448          -1
3       1668745034120          -1
4       1668745037548          -1
...               ...         ...
451128  1696204630762          -1
451129  1696204690758          -1
451130  1696204750768          -1
451131  1696204810801          -1
451132  1696204870791          -1

[451133 rows x 2 columns]

In [100]:
m2_status_df["is_pure_m2"].value_counts()

-1    396083
 1     32430
 0     22620
Name: is_pure_m2, dtype: int64

In [101]:
m2_status_df.duplicated(["Timestamp"]).value_counts()

False    451133
dtype: int64